		*{
			margin:0;
			padding:0;
		}
		a{
			color:#8FC2FF;
			text-decoration: none;
			outline: none;
		}
		a:hover{
			text-decoration: underline;
		}
		img{
			border:none;
		}
		body {
			overflow:hidden;/*Needed to eliminate scrollbars*/
			background:#000;
		}
		#content{
			margin:0px auto;
			height:100px;
			width:100%;
			bottom:5%;
			z-index: 3;
			background:#262626 no-repeat 90%;
			border-top:1px solid #000;
			border-bottom:1px solid #4F4F4F;
			position:absolute;
		}
		#contentframe{
			overflow: hidden;
			border-top:solid 1px #4F4F4F;
			border-bottom:1px solid #000;
			height: 100%;
			text-align:left;
			z-index: 3;
		}
		#slidecounter{
			float:left;
			color:#4F4F4F;
			font:50px "Helvetica Neue", Arial, sans-serif;
			font-weight:bold;
			margin:18px 20px;	
		}
		#slidecaption{
			overflow: hidden;
			float:left;
			color:#FFF;
			font:26px "Helvetica Neue", Arial, sans-serif;
			font-weight:bold;
			margin:33px 0;
		}
		/*Supersized Stamp*/
		.stamp{
			float: right;
			margin: 25px 20px 0 0;
		}
		/*Supersize Plugin Styles*/
		#navigation{
			background: url('../images/navbg.gif') no-repeat;
			float: left;
			margin:22px 20px 0 0;
		}
		#loading {
			position: absolute;
			top: 49.5%; 
			left: 49.5%;
			z-index: 2;
			width: 24px; 
			height: 24px;
			text-indent: -999em;
			background-image: url(../images/progress.gif);
		}
		#supersize{
			position:fixed;
		}
		#supersize img, #supersize a{
			height:100%;
			width:100%;
			position:absolute;
			z-index: 0;
		}
		#supersize .prevslide, #supersize .prevslide img{
			z-index: 1;
		}
		#supersize .activeslide, #supersize .activeslide img{
			z-index: 2;
		}
		
#noScript {
	color: #ffffff;
	font-family: lucida grande, helvetica, verdana, arial, sans-serif;
	font-size: .9em;
	font-weight: bold;
	position: absolute;
		top: 50px;
		left: 300px;
}
						
#container {
background-image: url('../img/bgPixel.png');
background-repeat: repeat;
height: 100%;
position: absolute;
width: 100%;
z-index: 4;
}
		
#hdLogo {
background-image: url('../img/hdLogo.png');
background-repeat: no-repeat;
bottom: 35px;
height: 88px;
position: absolute;
right: 100px;
width: 200px;
z-index: 4;
}
				
#navBar {
margin: 25px 0 0 15px;
padding: 0;
position: absolute;
width: 65px;
z-index: 4;
}
	
#navBar ul {
list-style: none;
text-align: center;
}
		
#navBar li {
cursor: pointer;
margin: 15px 0 15px 0;
padding: 0;
}
		
#navBar li img {
cursor: pointer;
margin: 0 0 5px 0;
padding: 0;
}
		
#navBar #navPlus {
color: #ffffff;
font-size: 2em;
font-weight: bold;
text-decoration: none;
}

#navBar ul#navItems {
margin: -15px 0 0 0;
padding: 0;
position: absolute;
left: -150px;
width: 65px;
}
		
#navBar .navItem {
color: #ffffff;
font-family: "Ludida Grande", helvetica, verdana, arial, sans-serif;
font-size: .5em;
font-weight: bold;
letter-spacing: .1em;
text-transform: uppercase;
}

#navBar .navItem:hover {
color: #ff5743;
font-family: "Ludida Grande", helvetica, verdana, arial, sans-serif;
font-size: .5em;
font-weight: bold;
letter-spacing: .1em;
text-transform: uppercase;
}
		
#navBar .navBarDivider {
background-color: #ffffff;
height: 1px;
margin: 0 auto;
width: 80%;
}
		
#navTitle {
color: #ffffff;
float: left;
font-family: "Ludida Grande", helvetica, verdana, arial, sans-serif;
font-size: .6em;
font-weight: bold;
letter-spacing: .1em;
margin: 54px 0 0 70px;
padding: 0;
position: absolute;
z-index: 3;
}
		
#mainContent {
	background-color: rgba(13, 13, 13, 0.5);
border: none;
display: none;
margin: 54px 0 0 300px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
padding: 30px 60px 30px 30px;
position: absolute;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
z-index: 3;
}

#mainContent h1 {
border-bottom: #e4e4e4 1px dotted;
color: #ffffff;
font-family: Helvetica, verdana, arial, sans-serif;
font-size: .7em;
font-weight: bold;
letter-spacing: .1em;
margin-bottom: 10px;
padding-bottom: 15px;
text-transform: uppercase;
width: 100%;
}

.mainContentWork {
background: #0d0d0d;
background-color: rgba(13, 13, 13, 0.5);
border: none;
display: none;
margin: 50px 0 0 300px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
padding: 5px 0 5px 0;
position: absolute;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
z-index: 3;
}

#contentQuote {
	border: none;
	display: none;
	font-family: helvetica neue, helvetica, arial, verdana, sans-serif;
	font-size: 3em;
	font-weight: bold;
	margin: 15px 0 0 300px;
	padding: 30px 60px 30px 30px;
	position: absolute;
	text-transform: uppercase;
	z-index: 3;
	}

/*--
[Contact Form]
--*/
#contentContactForm {
	margin: 30px 0 0 0;
	padding: 0;
	}
	
#contentContactForm label {
	color: #ffffff;
	font-family: lucida grande, helvetica, verdana, arial, sans-serif;
	font-size: .8em;
	margin: 5px 0 5px 0;
	}
	
#contentContactForm #contactname, #email {
	border: #e4e4e4 1px solid;
	color: #0d0d0d;
	font-family: lucida grande, helvetica, verdana, arial, sans-serif;
	font-size: .8em;
	height: 30px;
	margin: 0 0 10px 0;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	padding: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	width: 480px;
	}
	
#contentContactForm #message {
	border: #e4e4e4 1px solid;
	color: #0d0d0d;
	font-family: lucida grande, helvetica, verdana, arial, sans-serif;
	font-size: .8em;
	height: 100px;
	margin: 0;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	padding: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	width: 480px;
	}
	
#contentContactForm #submit {
	background-color: #ff5743;
	border: #e4e4e4 1px solid;
	color: #ffffff;
	cursor: pointer;
	font-family: lucida grande, helvetica, verdana, arial, sans-serif;
	font-size: .8em;
	margin: 15px 0 0 0;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	padding: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	}
	
/*Radio Active Button*/
@-webkit-keyframes orangePulse {
from { background-color: #ff5743; -webkit-box-shadow:: 0 0 9px #333; }
50% { background-color: #66231b; -webkit-box-shadow:: 0 0 18px #91bd09; }
to { background-color: #ff5743; -webkit-box-shadow:: 0 0 9px #333; }
}

#submit {
-webkit-animation-name: orangePulse;
-webkit-animation-duration: 2s;
-webkit-animation-iteration-count: infinite;
}
	
#contentContactForm .error {
	background: #d65c5c;
	color: #ffffff;
	font-family: lucida grande, helvetica, verdana, arial, sans-serif;
	margin: 0;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	padding: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	}
	
#contentContactForm #success, #thanks {
	background: #86d65c;
	color: #ffffff;
	font-family: lucida grande, helvetica, verdana, arial, sans-serif;
	margin: 0;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	padding: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	}

/* TUMBLR */
#iconRSS {
height: 23px;
margin: 15px 5px 0 0;
width: 18px;
}

#contentTumblr p {
line-height: 1.3em;
margin: 0 0 15px 0;
}

.tumblr_posts li {
font-size: .5em;
font-weight: bold;
margin-bottom: 15px;
}

.tumblr_title {
color: #ffffff;
font-size: 2em;
font-weight: normal;
}

.tumblr_body {
color: #ffffff;
font-size: 1.5em;
font-weight: normal;
margin-top: 3px;
}

.contentBody {
color: #ffffff;
font-family: "Lucida Grande", Helvetica, verdana, arial, sans-serif;
font-size: 1.2em;
margin: 15px 0 0 0;
max-width: 500px;
}

.contentBody a {
text-decoration: none;
}

.contentBodyWork {
color: #ffffff;
float: left;
font-family: "Lucida Grande", Helvetica, verdana, arial, sans-serif;
font-size: 1.2em;
margin: 0 0 0 10px;
max-width: 600px;
}

.contentBodyWork a {
text-decoration: none;
}

.contentAll {
float: left;
margin: 0 0 0 35px;
}

.close {
background-image: url('../img/iconClose.png');
background-repeat: no-repeat;
cursor: pointer;
height: 16px;
margin: 0;
position: absolute;
width: 16px;
}

.workIcons {
float: left;
}

.closeWork {
background-image: url('../img/iconClose.png');
background-repeat: no-repeat;
cursor: pointer;
float: left;
height: 16px;
margin: 0;
width: 16px;
}

.iconCategory {
border-left: #ffffff 1px solid;
float: left;
margin: 0 10px 0 10px;
padding: 0 0 0 10px;
}

/*-------------------------------------------------------------
VCARD
---------------------------------------------------------------*/
.vcard {
color: #ffffff;
font-family: "Lucida Grande", helvetica, verdana, arial, sans-serif;
line-height: 1em;
}

.org {
font-size: .9em;
margin: 15px 0 7px 0;
}

.adr {
font-size: .7em;
font-weight: normal;
margin: 7px 0 7px 0;
}

.country-name {
border-bottom: 1px dotted #e0e0d5;
font-size: .4em;
font-style: bold;
letter-spacing: .1em;
text-transform: uppercase;
}

.tel .type {
font-size: .7em;
}

.tel .value {
font-size: .7em;
}

.email {
font-size: .7em;
margin: 7px 0 0 0;
}

/*-------------------------------------------------------------
INK & PIXELS
---------------------------------------------------------------*/
.thumbPod {
cursor: pointer;
float: left;
height: 16px;
margin: 0 10px 0 0;
padding: 0;
position: relative;
width: 16px;
}

.thumbPodTitleBar {
background-color: #000;
bottom: 0;
height: 25px;
margin: 0;
padding: 0;
position: absolute;
width: 100%;
}

.thumbPodTitle {
color: #ffffff;
font-family: helvetica, verdana, arial, sans-serif;
font-size: 3em;
font-weight: bold;
letter-spacing: 0em;
line-height: 1em;
margin: 35px 0 0 0;
padding: 0;
text-transform: uppercase;
}

/* INK */
#redbull {
background-image: url('../images/thumbRedbull.jpg');
background-repeat: no-repeat;
}

#elements {
background-image: url('../images/thumbElements.jpg');
background-repeat: no-repeat;

}

#airstream {
background-image: url('../images/thumbAirstream.jpg');
background-repeat: no-repeat;

}

#rmed {
background-image: url('../images/thumbRmed.jpg');
background-repeat: no-repeat;

}

#fhh {
background-image: url('../images/thumbFhh.jpg');
background-repeat: no-repeat;

}

#malibu {
background-image: url('../images/thumbMalibu.jpg');
background-repeat: no-repeat;
}

#smith {
background-image: url('../images/thumbSmith.jpg');
background-repeat: no-repeat;
}

#hersey {
background-image: url('../images/thumbHersey.jpg');
background-repeat: no-repeat;
}

#qare {
background-image: url('../images/thumbQare.jpg');
background-repeat: no-repeat;
}

#malibuAd {
background-image: url('../images/thumbMalibuAd.jpg');
background-repeat: no-repeat;
}

/* PIXELS */
#mrms {
background-image: url('../images/thumbMrms.jpg');
background-repeat: no-repeat;
}

#sfc {
background-image: url('../images/thumbSfc.jpg');
background-repeat: no-repeat;
}

#therma {
background-image: url('../images/thumbTherma.jpg');
background-repeat: no-repeat;
}

#jhr {
background-image: url('../images/thumbJhr.jpg');
background-repeat: no-repeat;
}

