* {
	margin:0;
	padding:0;
	}

a {
	color:#8FC2FF;
	text-decoration: none;
	outline: none;
	}

a:hover {
	text-decoration: underline;
	}

img {
	border:none;
	}

body {
	overflow:hidden;/*Needed to eliminate scrollbars*/
	background:#0d0d0d;
	}
	
/*Area to place content normally*/
#content-wrapper { 
	width:100%; 
	height:100%; 
	position:absolute; 
	top:0; 
	overflow:auto; 
	z-index:4; 
	text-align:center; 
	}

/*Supersize Plugin Styles*/
#navigation {
	float: right;
	margin:10px 20px 0 0;
	}
	
#loading {
	position: absolute;
	top: 49.5%; 
	left: 49.5%;
	z-index: 10;
	width: 24px; 
	height: 24px;
	text-indent: -999em;
	background-image: url(/images/progress.gif);
	}

#supersized {
	position:fixed;
	}

#supersized img { 
	-ms-interpolation-mode: bicubic;
	}

#supersized img, #supersized a {
	height:100%;
	width:100%;
	position:absolute;
	z-index: -1;
	}
	
/*--*/		
#noScript {
	color: #ffffff;
	font-family: lucida grande, helvetica, verdana, arial, sans-serif;
	font-size: .9em;
	font-weight: bold;
	position: absolute;
	top: 50px;
	left: 300px;
	}
						
#container {
	background-image: url('../../img/bgPixel.png');
	background-repeat: repeat;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 4;
	}
	
.controls img {
	cursor: pointer;
	}
	
#container #prev {
	height: 100%;
	left: 0;
	position: absolute;
	width: 30%;
	}
	
#container #next {
	height: 100%;
	right: 0;
	position: absolute;
	width: 30%;
	}
	
#container #prev img {
	left: 20%;
	margin: -32px 0 0 -32px;
	position: absolute;
	top: 50%;
	}
	
#container #next img {
	margin: -32px 0 0 -32px;
	position: absolute;
	right: 20%;
	top: 50%;
	}
	
.message {
	display: none;
	left: 39px;
	margin: 0 39px 0 0;
	position: absolute;
	top: 250px;
	width: 800px;
	z-index: 5;
	}
	
.message p {
	color: #fff;
	font-family: lucida grande, verdana, arial, helvetica, sans-serif;
	font-size: 2.3em;
	line-height: 40px;
	margin: 0;
	text-shadow: 0px -1px 0px #ccc;
	}
	
.message p.cta {
	font-size: .9em;
	line-height: 20px;
	margin: 15px 0 0 0;
	text-transform: uppercase;
	}

#hdLogo {
	background-image: url('../../img/hdLogo.png');
	background-repeat: no-repeat;
	height: 40px;
	left: 39px;
	position: absolute;
	top: 0;
	width: 100px;
	z-index: 4;
	}
	
#logoTag {
	color: #fff;
	font-family: lucida grande, verdana, arial, helvetica, sans-serif;
	font-size: .5em;
	height: 40px;
	right: 39px;
	line-height: 40px;
	position: absolute;
	text-transform: uppercase;
	z-index: 2;
	}
				
#navBar {
	margin: 25px 0 0 15px;
	padding: 0;
	position: absolute;
	width: 65px;
	z-index: 4;
	}
	
#navBar ul {
	list-style: none;
	text-align: center;
	}
		
#navBar li {
	cursor: pointer;
	margin: 15px 0 15px 0;
	padding: 0;
	}
		
#navBar li img {
	cursor: pointer;
	margin: 0 0 5px 0;
	padding: 0;
	}
		
#navBar #navPlus {
	color: #ffffff;
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	}

#navBar ul#navItems {
	margin: -15px 0 0 0;
	padding: 0;
	position: absolute;
	left: -150px;
	width: 65px;
	}
		
#navBar .navItem {
	color: #ffffff;
	font-family: "Ludida Grande", helvetica, verdana, arial, sans-serif;
	font-size: .5em;
	font-weight: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
	}

#navBar .navItem:hover {
	color: #ff5743;
	font-family: "Ludida Grande", helvetica, verdana, arial, sans-serif;
	font-size: .5em;
	font-weight: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
	}
		
#navBar .navBarDivider {
	background-color: #ffffff;
	height: 1px;
	margin: 0 auto;
	width: 80%;
	}
		
#navTitle {
	color: #ffffff;
	float: left;
	font-family: "Ludida Grande", helvetica, verdana, arial, sans-serif;
	font-size: .6em;
	font-weight: bold;
	letter-spacing: .1em;
	margin: 54px 0 0 70px;
	padding: 0;
	position: absolute;
	z-index: 3;
	}
		
#mainContent {
	background-color: rgba(13, 13, 13, 0.5);
	border: none;
	display: none;
	margin: 54px 0 0 300px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	padding: 30px 60px 30px 30px;
	position: absolute;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	z-index: 3;
	}

#mainContent h1 {
	border-bottom: #e4e4e4 1px dotted;
	color: #ffffff;
	font-family: Helvetica, verdana, arial, sans-serif;
	font-size: .7em;
	font-weight: bold;
	letter-spacing: .1em;
	margin-bottom: 10px;
	padding-bottom: 15px;
	text-transform: uppercase;
	width: 100%;
	}

.slidingWindow {
	background: #0d0d0d;
	background-color: rgba(13, 13, 13, 0.9);
	border: none;
	height: 16px;
	margin: 0 0 0 145px;
	padding: 12px 0 12px 15px;
	position: absolute;
	top: -360px;
	width: 100%;
	z-index: 3;
	}
	
.contentBody {
	color: #ffffff;
	font-family: "Lucida Grande", Helvetica, verdana, arial, sans-serif;
	font-size: 1.2em;
	margin: 15px 0 0 0;
	max-width: 500px;
	}

.contentBody a {
	text-decoration: none;
	}

.contentBodyWork {
	color: #ffffff;
	float: left;
	font-family: "Lucida Grande", Helvetica, verdana, arial, sans-serif;
	font-size: 1.2em;
	margin: 0 0 0 10px;
	max-width: 600px;
	}

.contentBodyWork a {
	text-decoration: none;
	}

.workIcons {
	float: left;
	}

.close {
	background-image: url('../../img/iconClose.png');
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	height: 16px;
	margin: 0;
	width: 16px;
	}

.iconCategory {
	border-left: #ffffff 1px solid;
	float: left;
	margin: 0 10px 0 10px;
	padding: 0 0 0 10px;
	}

#iconContact {
	border-left: #ffffff 1px solid;
	float: left;
	margin: 0 10px 0 10px;
	padding: 0 0 0 10px;
	}

/*--
[VCARD]
--*/
.vcard {
	color: #ffffff;
	font-family: verdana, arial, sans-serif;
	line-height: 1em;
	}

.org {
	float: left;
	font-size: .7em;
	margin: 0 0 0 0;
	}

.adr {
	float: left;
	font-size: .7em;
	font-weight: normal;
	margin: 0 0 0 15px;
	}

.country-name {
	border-bottom: 1px dotted #e0e0d5;
	font-size: .7em;
	font-style: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
	}

.tel, .email {
	float: left;
	font-size: .7em;
	}

.tel .type {
	margin: 0 0 0 20px;
	}

.tel .value {
	margin: 0 0 0 5px;
	}

.email .type {
	margin: 0 0 0 20px;
	}

.email .value {
	margin: 0 0 0 5px;
	}

/*--
[INK & PIXELS]
--*/
.thumbPod {
	cursor: pointer;
	float: left;
	height: 16px;
	margin: 0 10px 0 0;
	padding: 0;
	width: 16px;
	}

.thumbPodTitleBar {
	background-color: #000;
	top: 0;
	height: 16px;
	margin: 0;
	padding: 0;
	width: 16px;
	}

.thumbPodTitle {
	color: #ffffff;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 3em;
	font-weight: bold;
	letter-spacing: 0em;
	line-height: 1em;
	margin: 0;
	padding: 0;
	position: absolute;
	text-transform: uppercase;
	top: 60px;
	width: 150px;
	}

/*--
[INK]
--*/
#thumb_redbull {
	background-image: url('../../images/thumbRedbull.jpg');
	background-repeat: no-repeat;
	}

#thumb_elements {
	background-image: url('../../images/thumbElements.jpg');
	background-repeat: no-repeat;
	}

#thumb_airstream {
	background-image: url('../../images/thumbAirstream.jpg');
	background-repeat: no-repeat;
	}

#thumb_rmed {
	background-image: url('../../images/thumbRmed.jpg');
	background-repeat: no-repeat;
	}

#thumb_fhh {
	background-image: url('../../images/thumbFhh.jpg');
	background-repeat: no-repeat;
	}

#thumb_malibu {
	background-image: url('../../images/thumbMalibu.jpg');
	background-repeat: no-repeat;
	}

#thumb_smith {
	background-image: url('../../images/thumbSmith.jpg');
	background-repeat: no-repeat;
	}

#thumb_qare {
	background-image: url('../../images/thumbQare.jpg');
	background-repeat: no-repeat;
	}

#thumb_malibuad {
	background-image: url('../../images/thumbMalibuAd.jpg');
	background-repeat: no-repeat;
	}
	
#thumb_mrmsLogo {
	background-image: url('../../images/thumbMrmsLogo.jpg');
	background-repeat: no-repeat;
	}
	
#thumb_olivesTailLogo {
	background-image: url('../../images/thumbOlivesTailLogo.jpg');
	background-repeat: no-repeat;
	}

/*--
[PIXELS]
--*/
#thumb_mrms {
	background-image: url('../images/thumbMrms.jpg');
	background-repeat: no-repeat;
	}

#thumb_sfc {
	background-image: url('../images/thumbSfc.jpg');
	background-repeat: no-repeat;
	}

#thumb_trs {
	background-image: url('../images/thumbTherma.jpg');
	background-repeat: no-repeat;
	}

#thumb_jhr {
	background-image: url('../images/thumbJhr.jpg');
	background-repeat: no-repeat;
	}