*{
			margin:0;
			padding:0;
		}
		a{
			color:#8FC2FF;
			text-decoration: none;
			outline: none;
		}
		a:hover{
			text-decoration: underline;
		}
		img{
			border:none;
		}


body {
background-color: #151d28;
margin: 0;
overflow: hidden;
padding: 0;
}

#hdLogo {
background-image: url('../img/hdLogo.png');
background-repeat: no-repeat;
bottom: 35px;
height: 88px;
position: absolute;
right: 100px;
width: 200px;
z-index: 3;
}

#navBar {
float: left;
margin: 25px 0 0 15px;
padding: 0;
position: absolute;
width: 65px;
z-index: 3;
}
	
#navBar ul {
list-style: none;
text-align: center;
}
		
#navBar li {
cursor: pointer;
margin: 15px 0 15px 0;
padding: 0;
}
		
#navBar li img {
cursor: pointer;
margin: 0 0 5px 0;
padding: 0;
}
		
#navBar #navPlus {
color: #ffffff;
font-size: 2em;
font-weight: bold;
text-decoration: none;
}
		
#navBar .navItem {
color: #ffffff;
display: none;
font-family: "Ludida Grande", helvetica, verdana, arial, sans-serif;
font-size: .5em;
font-weight: bold;
letter-spacing: .1em;
text-transform: uppercase;
}
		
#navBar .navBarDivider {
background-color: #ffffff;
height: 1px;
margin: 0 auto;
width: 80%;
}
		
#navTitle {
color: #ffffff;
display: none;
float: left;
font-family: "Ludida Grande", helvetica, verdana, arial, sans-serif;
font-size: .6em;
font-weight: bold;
letter-spacing: .1em;
margin: 53px 0 0 70px;
padding: 0;
position: absolute;
z-index: 3;
}